crewai
crewai-tools
streamlit
python-dotenv
huggingface-hub 
langchain-anthropic
langchain-community
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-qdrant
langchain-openai 
qdrant-client 
