Flask
python-dotenv
langchain-openai
langchain-community
langchain-anthropic
langchain-groq
langchain-huggingface
langchain-google-genai
pydantic
crewai
langchain-qdrant
qdrant-client
streamlit
langchain
uuid
huggingface-hub
