Flask
python-dotenv
json
langchain-openai
langchain-community
langchain-anthropic
langchain-groq
langchain-huggingface
langchain-google-genai
pydantic==1.10.2  # Specific version as you are importing from pydantic.v1
crewai
langchain-qdrant
qdrant-client
streamlit
langchain
uuid
huggingface-hub
